<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AniKey - Searching and Tracking Anime Easily</title>
        <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    </head>
    <body>
        <div class="jumbotron">
            <h2 class="jumbotron-title">AniKey - Searching and Tracking Anime Easily</h2>
            <p class="jumbotron-about">Search and track anime just one button, you can get all anime that you want it</p>
            <a href="/track" class="go-track">Go tracking!</a>
        </div>
        <div class="about">
            <h1 class="about-title">About Us</h1>
            <hr />
            <p>We serve you to accurately track and search for anime. We use API services from <a href="https://myanimelist.net">MyAnimeList.net</a> and <a href="https://anilist.co">Anilist.co</a> with a high level of accuracy, so don't worry if the anime you are looking for doesn't appear in the search results.</p>
            <div class="images">
                <img id="mal" src="img/myanimelist.png" alt="MyAnimeList.net" width="150" height="150" />
                <img id="anilist" src="img/anilist.png" alt="Anilist.co" width="150" height="150" />
            </div>
        </div>
    </body>
</html>
