<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Anikey - Tracking Anime</title>
        <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    </head>
    <body id="track">
        <div class="track-form">
            <h2>Tracking Anime</h2>
            <input type="text" name="anime-query" id="anime-query" value="" placeholder="Track" />
        </div>
        <div class="results" id="results">
            <!--
            <div class="anime-info">
                <a href="https://anilist.co/anime/21/ONE-PIECE/">
                    <img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/nx21-tXMN3Y20PIL9.jpg" alt="Anime Thumbnail" class="anime-thumb">
                    <h6 class="anime-title">One PIECE</h6>
                </a>
            </div>
            <div class="anime-info">
                <a href="https://anilist.co/anime/21/ONE-PIECE/">
                    <img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/nx21-tXMN3Y20PIL9.jpg" alt="Anime Thumbnail" class="anime-thumb">
                    <h6 class="anime-title">One PIECE</h6>
                </a>
            </div>
            <div class="anime-info">
                <a href="https://anilist.co/anime/21/ONE-PIECE/">
                    <img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/nx21-tXMN3Y20PIL9.jpg" alt="Anime Thumbnail" class="anime-thumb">
                    <h6 class="anime-title">One PIECE</h6>
                </a>
            </div>
            <div class="anime-info">
                <a href="https://anilist.co/anime/21/ONE-PIECE/">
                    <img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/nx21-tXMN3Y20PIL9.jpg" alt="Anime Thumbnail" class="anime-thumb">
                    <h6 class="anime-title">One PIECE</h6>
                </a>
            </div>
            <div class="anime-info">
                <a href="https://anilist.co/anime/21/ONE-PIECE/">
                    <img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/nx21-tXMN3Y20PIL9.jpg" alt="Anime Thumbnail" class="anime-thumb">
                    <h6 class="anime-title">One PIECE</h6>
                </a>
            </div>
            <div class="anime-info">
                <a href="https://anilist.co/anime/21/ONE-PIECE/">
                    <img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/nx21-tXMN3Y20PIL9.jpg" alt="Anime Thumbnail" class="anime-thumb">
                    <h6 class="anime-title">One PIECE</h6>
                </a>
            </div>
            <div class="anime-info">
                <a href="https://anilist.co/anime/21/ONE-PIECE/">
                    <img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/nx21-tXMN3Y20PIL9.jpg" alt="Anime Thumbnail" class="anime-thumb">
                    <h6 class="anime-title">One PIECE</h6>
                </a>
            </div>
            -->
        </div>
        <!-- script -->
        <script src="./js/track.js"></script>
    </body>
</html>